* {
  box-sizing: border-box;
}

:root {
  /* Animation */
  --animation-duration: all 100ms ease-in;

  /* Line */
  --outline: solid 4px rgb(240, 173, 96);

  /* color */
  --main-orange: #f39c12;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./img/bugs_bunny_background.jpg');
}

.btn {
  cursor: pointer;
  padding: 0;
  text-align: center;
  font-size: 40px;
  width: 75px;
  height: 75px;
  margin-top: 15px;
  border: none;
  color: var(--main-orange);
  background-color: white;
  border-radius: 10px;
  outline: var(--outline);
  transition: all 150ms ease-in;
}

.game {
  margin: auto;
  margin-top: 50px;
  width: 1400px;
  height: 900px;
  border-radius: 30px;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.first_start_box {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 600px;
  height: 500px;
  border-radius: 30px;
  background-color: rgba(243, 156, 18, 0.9);

  transform: translateY(70%);
}

.first_start_box__message {
  text-align: start;
  margin-top: 20px;
  font-size: 40px;
  color: white;
}

.btn__first_start {
  margin-top: 40px;
  background-color: aliceblue;
  font-size: 28px;
  width: 300px;
}

.message_first_start {
  margin-left: 5px;
  font-family: 'Ubuntu Mono', monospace;
}

.img_start_bunny {
  position: absolute;
  width: 400px;
  transform: translateY(-90%);
}

.img_lose_bunny {
  position: absolute;
  width: 200px;
  transform: translateY(-107%);
}

.img_win_bunny {
  position: absolute;
  width: 200px;
  transform: translateY(-74%);
}

.carrot__box {
  position: relative;
  margin: auto;
  margin-top: 200px;
  height: 430px;
}

.carrot__img {
  width: 90px;
  transition: var(--animation-duration);
}

.bug__img {
  width: 80px;
  transition: var(--animation-duration);
}

.carrot__img:hover,
.bug__img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.setting__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btn:hover {
  transform: scale(1.05);
}

.timer {
  padding: 5px 30px;
  margin: 12px 0;
  outline: var(--outline);
  border-radius: 10px;
  font-size: 50px;
  color: var(--main-orange);
  background-color: white;
}

.count {
  background-color: white;
  color: var(--main-orange);
  font-size: 60px;
  font-weight: bold;
  padding: 5px 21px;
  border-radius: 50%;
  outline: var(--outline);
}

.pop-up {
  width: 500px;
  height: 190px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: 20px;
  position: relative;
  transform: translateY(-200%);
}

.pop-up__message {
  text-align: center;
  margin: 8px 0px 5px 5px;
  font-size: 38px;
  color: white;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}
