* {
  box-sizing: border-box;
}

:root {
  --outline: solid 4px black;
}

body {
  height: 100vh;
  text-align: center;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.carrot__box {
  margin: auto;
  margin-top: 300px;
  height: 500px;
}

.carrot__img {
  cursor: pointer;
  width: 90px;
}

.bug__img {
  width: 70px;
}

.setting__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btn {
  cursor: pointer;
  padding: 0;
  text-align: center;
  font-size: 50px;
  width: 75px;
  height: 75px;
  border: none;
  background-color: beige;
  border-radius: 10px;
  outline: var(--outline);
  transition: all 150ms ease-in;
}

.btn:hover {
  transform: scale(1.05);
}

/* .btn__stop {
  position: relative;
  top: -60px;
} */

.btn__start {
  position: absolute;
  top: 30px;
}

.timer {
  padding: 5px 30px;
  margin: 12px 0;
  outline: var(--outline);
  border-radius: 10px;
  font-size: 50px;
  background-color: white;
}

.count {
  background-color: palegreen;
  color: white;
  font-size: 60px;
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 50%;
  outline: var(--outline);
}

.popup {
  width: 500px;
  height: 190px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: 20px;
  position: absolute;
  left: 34%;
  top: 500px;
}

.popup__message {
  font-size: 70px;
  color: white;
}

.hidden {
  display: none;
}
